<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Barra de Progreso</h4>
        <button (click)="setValues()">Asignar Valores</button>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 5px"
            [style.width]="getProgreso1"
            role="progressbar"
          ></div>
        </div>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 5px"
            [style.width]="getProgreso2"
            role="progressbar"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-hijo
          (valorDesdeHijo)="progreso1 = $event"
          [valorDesdePadre]="progreso1"
        >
          <app-proyectado></app-proyectado>
          <app-proyectado></app-proyectado>
        </app-hijo>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <!--<app-hijo
          (valorDesdeHijo)="progreso2 = $event"
          [valorDesdePadre]="progreso2"
          [btnClass]="'btn-info'"
        >
        </app-hijo>-->
      </div>
    </div>
  </div>
</div>
