<div class="app-main">
  <div>
    <a routerLink="/login" *ngIf="!usuarioLogueado">Iniciar Sesión</a>
    <a (click)="logout()" style="cursor: pointer" *ngIf="usuarioLogueado"
      >Cerrar Sesión</a
    >
  </div>
  <div>
    <a routerLink="/contacto">Contactar Admin</a>
  </div>
  <div>
    <a routerLink="/comunicacion-padre">Comunicación Padre</a>
  </div>
  <div>
    <a routerLink="/typecodeuser">Api Usuarios TypeCode</a>
  </div>
  <div>
    <a routerLink="/mostrar-datos">Pipe / Directiva</a>
  </div>
  <div>
    <a routerLink="/typecodeuser/formulario">Formulario</a>
  </div>
  <div>
    <a routerLink="/typecodeuser/usuarios-github">GitHub Usuarios</a>
  </div>
</div>
<router-outlet></router-outlet>
<div class="app-main">Pie de página</div>
